<p>
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <a routerLink="">Title</a>
            <span class="example-spacer"></span>
            <span *ngIf="(authService.loggedIn | async); then thenBlock else elseBlock"></span>
            <ng-template #thenBlock>
                Hello, gei!.
                <button mat-button routerLink="dashboard">Dashboard</button>
                <button mat-button (click)="authService.logout()">Logout</button>
            </ng-template>
            <ng-template #elseBlock>
                <button mat-button routerLink="login">Login</button>
                <button mat-button routerLink="signup">Signup</button>
            </ng-template>

        </mat-toolbar-row>
    </mat-toolbar>
</p>
