<mat-card class="signin-conten mat-elevation-z4">
    <mat-card-content>
        <form (ngSubmit)="onSubmit()" [formGroup]="form">
            <p>Signup to {{appName}}</p>
            <mat-form-field class="full-width-input">
                <input formControlName="username" matInput placeholder="Username" required>
                <mat-error *ngIf="isFieldInvalid('username')">
                    Username is invalid
                </mat-error>
            </mat-form-field>
            <mat-form-field class="full-width-input">
                <input formControlName="firstName" matInput placeholder="First Name" required>
                <mat-error *ngIf="isFieldInvalid('firstName')">
                    First Name is invalid
                </mat-error>
            </mat-form-field>
            <mat-form-field class="full-width-input">
                <input formControlName="lastName" matInput placeholder="Last Name" required>
                <mat-error *ngIf="isFieldInvalid('lastName')">
                    Last Name is invalid
                </mat-error>
            </mat-form-field>
            <mat-form-field class="full-width-input">
                <input formControlName="email" matInput placeholder="Email" required>
                <mat-error *ngIf="isFieldInvalid('email')">
                    Email is invalid
                </mat-error>
            </mat-form-field>
            <mat-form-field class="full-width-input">
                <input formControlName="password" matInput placeholder="Password" required type="password">
                <mat-error *ngIf="isFieldInvalid('password')">
                    Password is invalid
                </mat-error>
            </mat-form-field>
            <mat-form-field class="full-width-input">
                <input formControlName="repeatPassword" matInput placeholder="Repeat Password" required type="password">
                <mat-error *ngIf="isFieldInvalid('repeatPassword')">
                    Password is invalid
                </mat-error>
            </mat-form-field>
            <button color="primary" mat-raised-button>Signup</button>
        </form>
    </mat-card-content>
</mat-card>
