<!--<div class="container">-->
<!--    hello-->
<!--    &lt;!&ndash;        <header>&ndash;&gt;-->
<!--    &lt;!&ndash;            <app-selector></app-selector>&ndash;&gt;-->
<!--    &lt;!&ndash;        </header>&ndash;&gt;-->

<!--    &lt;!&ndash;        <main>&ndash;&gt;-->
<!--    &lt;!&ndash;            <app-calendar></app-calendar>&ndash;&gt;-->
<!--    &lt;!&ndash;        </main>&ndash;&gt;-->

<!--    &lt;!&ndash;        <div>&ndash;&gt;-->
<!--    &lt;!&ndash;            <app-organizer></app-organizer>&ndash;&gt;-->
<!--    &lt;!&ndash;        </div>&ndash;&gt;-->

<!--    <li *ngFor="let item of transactions; index as i">...</li>-->
<!--    <li *ngFor="let item of transactions; index as i">...</li>-->
<!--    <li *ngFor="let item of transactions; index as i">...</li>-->

<!--&lt;!&ndash;    &ndash;&gt;-->
<!--&lt;!&ndash;    <div *ngFor="let asset of transactions; index as i">&ndash;&gt;-->
<!--&lt;!&ndash;        hello&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;        {{i}}/{{transactions.length}}&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;        . {{asset.id}} {{asset.asset}} {{asset.id}} {{asset.amount_crypto}} {{asset.amount_cash}} {{asset.date_of_transfer}}&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->


<li *ngFor="let item of transactions; index as i">HELOONON</li>
