<section>
    <header>
        Organizer: <strong>{{dateService.date | async | moment:'DD.MM.YYYY'}}</strong>
        <hr/>
    </header>

    <main>
        <ul>
            <li *ngFor="let transaction of transactions; let i = index" class="task">
                <div>
                    <span>
                        <strong>
                            {{ i + 1}}
                        </strong>
                        {{ transaction.title }}
                    </span>
                    <p>
                        Amount: {{ transaction.amount }} EUR
                    </p>
                    <p>
                        Currency: {{ transaction.amount }}
                    </p>
                </div>
                <button (click)="remove(transaction)" class="btn btn-primary">
                    Remove
                </button>
            </li>
        </ul>
    </main>
    <footer>
        <form (ngSubmit)="submit()" [formGroup]="form">
            <label>
                Title:
                <input formControlName="title" type="text">
            </label>
            <label>
                Amount:
                <input formControlName="amount" type="number">
            </label>
            <button
                [disabled]="form.invalid"
                class="btn btn-primary btn-block"
                type="submit">
                Add
            </button>
        </form>
    </footer>
</section>
